<?xml version="1.0"?>
<config>
	<modules>
		<Dzinehub_Blog>
			<version>1.0.0</version>
		</Dzinehub_Blog>
	</modules>
	<frontend>
		<routers>
			<blog>
				<use>standard</use>
				<args>
					<module>Dzinehub_Blog</module>
					<frontName>blog</frontName>
				</args>
			</blog>
		</routers>
	</frontend>

	<global>
		<blocks>
			<blog>
				<class>Dzinehub_Blog_Block</class>
			</blog>
		</blocks>
		<helpers>
			<blog>
				<class>Dzinehub_Blog_Helper</class>
			</blog>
		</helpers>
		<models>
			<blog>
				<class>Dzinehub_Blog_Model</class>
				<resourceModel>blog_mysql4</resourceModel>
			</blog>
			<blog_mysql4>
				<class>Dzinehub_Blog_Model_Mysql4</class>
				<entities>
					<post>
						<table>dz_blog_posts</table>
					</post>
				</entities>
			</blog_mysql4>
		</models>
		<resources>
			<blog_read>
				<connection>
					<use>core_read</use>
				</connection>
			</blog_read>
			<blog_write>
				<connection>
					<use>core_write</use>
				</connection>
			</blog_write>
			<blog_setup>
				<setup>
					<module>Dzinehub_Blog</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</blog_setup>
		</resources>
	</global>
</config>
